  <div class="contenedor-principal" *ngIf="mayores">
      <header class="header-vintage">
          <h1>Aerolinea con más de dos vuelos por día</h1>
      </header>
      <main>
          <section class="seccion-centrada">
            <div class="container">
              <table class="table-responsive">
                  <thead>
                    <td>Aerolinea</td>
                    <td>Vuelos por dia</td>
                    <td>Fecha</td>
                    
                  </thead>
                  <tbody>
                    <tr *ngFor="let dato of mayores">
                      <td>{{ dato.Aerolinea }}</td>
                      <td>{{ dato.Cantidad }}</td>
                      <td>{{ dato.Fecha }}</td>
                    </tr>
                  </tbody>
                </table>


              </div>   
          </section>
      </main>
  </div>

<div *ngIf="error">
  <div class="contenedor-principal">
    <header class="header-vintage">
        <h1>Aerolinea con más de dos vuelos por día</h1>
    </header>
    <main>
        <section class="seccion-centrada">
          <div>
            <h2><p style="color: red;">Error no hay datos encontrados </p></h2>
            </div>   
        </section>
    </main>
</div>
</div>
  